* {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
p,
ul {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  outline: none;
  background-color: transparent;
  border: none;
  margin: 0;
  padding: 0;
  cursor: pointer;
}

body {
  width: 100%;

  --standard-white: #fff;
  --standard-black: #000;
  --accent-color-blue: #2238BF;
  --accent-color-orange: #F2AC2A;
  --accent-color-red: #F15757;
  --accent-color-green: #45BE91;
  --accent-color-violet: #B660F7;

  --font-inter: "Inter", sans-serif;
  --font-noto: "Noto Sans", sans-serif;
}

.header {
  background: url('./assets/bg-main-min.png');
  background-size: cover;
  height: 1258px;
}

.header .top {
  display: flex;
  position: sticky;
  top: 0;
}

.header .logo-container {
  display: inline-block;
  margin-top: 99px;
  padding: 40px 78px 40px 136px;
  background-color: var(--accent-color-blue);
  border-radius: 0 0 20px 0;
}

.header .logo-container img {
  width: 551px;
}

.header .nav-header {
  display: inline-block;
  height: fit-content;
  margin-top: 22px;
  background-color: var(--accent-color-orange);
}

.header .nav-header ul {
  display: flex;
  gap: 147px;
  margin: 28px 131px;
}

.header .nav-header ul li a {
  font-family: var(--font-inter);
  font-size: 36px;
  font-weight: 500;
  line-height: 44px;
  color: var(--standard-white);
  border-bottom: 3px solid var(--standard-white);
}

.header .info-flex {
  display: flex;
  justify-content: space-between;
}

.header .info {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 60px;
  width: 868px;
  margin-top: 76px;
}

.header .info .block {
  display: flex;
  gap: 21px;
  flex-direction: column;
  background-color: #F15757CC;
  padding: 18px 27px 26px;
  border-radius: 0 20px 20px 0;
}

.header .info .block p {
  font-family: var(--font-noto);
  font-size: 36px;
  font-weight: 600;
  line-height: 48px;
  color: var(--standard-white);
}

.header .info .block .title {
  font-family: var(--font-noto);
  font-size: 48px;
  font-weight: 700;
  line-height: 64px;
  padding-bottom: 24px;
  border-bottom: 5px solid var(--accent-color-orange);
  text-wrap: nowrap;
}

.header .info .button {
  font-family: var(--font-noto);
  font-size: 36px;
  font-weight: 700;
  line-height: 48px;
  text-align: center;
  color: var(--standard-white);
  width: fit-content;
  padding: 30px 26px;
  border-radius: 20px;
  border: 1px solid var(--standard-white);
  background-color: #45BE91E5;
}

.header .proposition {
  display: flex;
  flex-direction: column;
  width: 528px;
  border-radius: 20px;
  background-color: var(--standard-white);
  margin-right: 127px;
}

.header .proposition img {
  border-radius: 20px 20px 0 0;
  width: 528px;
}

.header .proposition .text {
  font-family: var(--font-noto);
  font-size: 32px;
  font-weight: 400;
  line-height: 43px;
  text-align: center;
  color: var(--accent-color-blue);
  border: 3px solid var(--accent-color-blue);
  border-radius: 0 0 20px 20px;
  border-top: none;
  margin: 30px 20px 13px;
}

.header .proposition .text p {
  margin-bottom: 14px;
}

.header .proposition .text p:first-child {
  font-weight: 350;
}

.header .proposition .text p span {
  font-weight: 700;
  color: var(--accent-color-orange);
}

.header .proposition .text p:last-child {
  font-weight: 600;
}

.header .proposition .text p:nth-child(3) {
  margin-top: 25px;
}

.header .proposition .text p:nth-child(4) {
  color: var(--accent-color-green);
  font-weight: 700;
  margin-top: 25px;
}
